doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    - if (font)
      link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=' + font)
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
  body
    block content