body {
	max-width: 960px;
	margin: 0 auto;
}

#projects {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#projects .project {
	margin: 3em 0;
}

#palettes {
	margin: 2em 0;
	padding: 0;
	list-style-type: none;
}

#palettes .palette {
	display: inline-block;
	width: 200px;
	height: 200px;
	vertical-align: bottom;
	margin: 0 .5em;
	border-radius: .3em;
	box-shadow: 2px 2px 3px 1px #ccc;
	box-sizing: border-box;
	overflow: hidden;
	position: relative;
}

#palettes .palette .info {
	position: absolute;
	bottom: 0;
	width: 100%;
}

#palettes .palette span {
	display: block;
	text-align: center;
	background-color: #fff;
	padding: .3em 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#palettes .palette .delete {
	position: absolute;
	top: 0;
	left: 0;
	padding: .3em;
}

#colors {
	margin: 2em 0;
	padding: 0;
	list-style-type: none;
}

#colors .color {
	padding-left: 1em;
	margin: 1em 0;
}

#colors .color .delete {
	margin-left: 1em;
}

#project {
	padding-bottom: 6em;
}

#project section.typo a.edit {
	margin-left: .5em;
}

#project section.typo ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#project section.typo ul li {
	margin: .5em 0;
}

#project section.typo ul li .value {
	margin: 0 1em;
}