body {
	max-width: 960px;
	margin: 0 auto;
}

#projects {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#projects .project {
	margin: 3em 0;
}

#palettes {
	margin: 2em 0;
	padding: 0;
	list-style-type: none;
}

#palettes .palette {
	display: inline-block;
	width: 200px;
	height: 200px;
	vertical-align: bottom;
	margin: 0 .5em;
	border-radius: .3em;
	box-shadow: 2px 2px 3px 1px #ccc;
	box-sizing: border-box;
	padding-top: 155px;
	overflow: hidden;
}

#palettes .palette span {
	display: block;
	text-align: center;
	background-color: #fff;
	padding: .3em 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}